/* .profileInfo {
  display: flex;
  justify-content: flex-start;
} */

.profileInfoName {
  font-size: 20px;
}

/* .profileInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
} */

.profileInfoTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.profileInfoInfo {
  margin-bottom: 30px;
}

.profileInfoInfoItem {
  margin-bottom: 10px;
}

.profileInfoInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: rgb(70, 70, 70);
  margin-bottom: 15px;
}

.profileInfoInfoValue {
  font-weight: 300;
}

.profileInfoFollowings {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.profileInfoFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: rgb(70, 70, 70);
}

.profileInfoFollowingImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 5px;
}

.profileInfoFollowButton {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 150px;
  border: none;
  background-color: rgb(116, 175, 28);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.profileInfoFollowButton:focus {
  outline: none;
}

.profileInfoSections {
  display: flex;
  flex-direction: column;
}

.profileInfoSection {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .profileInfo {
    justify-content: center;
    align-items: center;
  }

  .profileInfoWrapper {
    padding: 0;
  }

  .profileInfoSections {
    display: none;
    flex-direction: row;
  }

  .profileInfoTitle {
    display: none;
  }
}
