.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.loginWrapper {
  width: 40%;
  height: 70%;
  max-width: 600px;
  max-height: 800x;
  min-height: 550px;
  min-width: 250px;
  display: flex;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginTitle,
.loginItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginTitle {
  padding-bottom: 20px;
}

.loginLogo {
  font-size: 50px;
  font-weight: bold;
  color: orange;
  margin-bottom: 10px;
}

.loginDesc {
  font-style: 24px;
  text-align: center;
}

.loginBox {
  height: 100%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 15px;
}

.loginButton,
.loginRegisterButton {
  height: 50px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  align-self: center;
  width: 100%;
  margin-top: 15px;
}

.loginInput:focus {
  outline: none;
}

.loginForgot {
  margin-bottom: 25px;
  text-align: center;
  color: orange;
  cursor: pointer;
}

.loginButton {
  border: none;
  background-color: orange;
}

.loginRegisterButton {
  color: orange;
  border-width: 1px;
}
