.login {
  align-items: center;
  background-size: cover;
  background: no-repeat center center fixed;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
}

.loginWrapper {
  background-color: white;
  display: flex;
  height: 50%;
  max-width: 100px;
  padding: 0 40px;
  width: 50%;
}

.loginLeft,
.loginRight {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.loginLogo {
  color: orange;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.loginDesc {
  font-style: 24px;
}

.loginBox {
  background-color: rgb(70, 216, 226);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  padding: 20px;
}

.loginInput {
  border-radius: 10px;
  border: 1px solid green;
  font-size: 18px;
  height: 50px;
  padding-left: 20px;
}

.loginButton,
.loginRegisterButton {
  align-self: center;
  background-color: rgb(160, 241, 157);
  border-radius: 10px;
  border: none;
  color: aliceblue;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
}

.loginButton:focus,
.loginRegisterButton:focus {
  outline: none;
}

.loginInput:focus {
  outline: none;
}

.loginForgot {
  color: blueviolet;
  text-align: center;
}

.loginRegisterButton {
  background-color: rgb(226, 43, 217);
}
