.post {
  -webkit-box-shadow: 5px 5px 15px -9px rgba(0, 0, 0, 0.34);
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: 5px 5px 15px -9px rgba(0, 0, 0, 0.34);
  display: inline-block;
  margin-bottom: 20px;
  max-width: 350px;
}

.postTop {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.postTopLeft {
  align-items: center;
  display: flex;
  justify-content: center;
}

.postProfileImg {
  border-radius: 50%;
  height: 32px;
  object-fit: cover;
  width: 32px;
}

.postUsername {
  color: black;
  font-style: 15px;
  font-weight: 500;
  margin: 0px 10px;
}

.postDate {
  cursor: pointer;
  font-size: 12px;
}

.postText {
  padding: 25px;
  word-wrap: normal;
}

.postImg {
  margin-top: 20px;
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

.postBottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.postBottomLeft {
  align-items: center;
  display: flex;
}

.likeIcon {
  cursor: pointer;
  margin-right: 5px;
}

.commentIcon {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.postLikeCounter {
  font-size: 15px;
}

.commentInputForm {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.postCommentText {
  cursor: pointer;
  font-size: 15px;
}

.commentInput {
  border: none;
  width: 80%;
}

.commentInput:focus {
  outline: none;
}

.commentHr {
  margin: 0 25px;
}
