.profile {
  display: flex;
  flex-direction: column;
}

.profileTop {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profileBottom {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.profileCover {
  height: 320px;
  width: 100%;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 150px;
  margin: auto;
  border: 3px solid white;
  position: absolute;
}

.profilePictureEditButton {
  position: absolute;
  top: 250px;
  left: 52%;
  right: auto;
  width: 30px;
  height: 30px;
  background-color: #ffa000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.coverPhotoEditButton {
  position: absolute;
  top: 200px;
  left: 97%;
  right: auto;
  width: 30px;
  height: 30px;
  background-color: #ffa000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.profileBottomInfo {
  flex: 3;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  padding: 20px;
}

.profileInfoName {
  font-style: 24px;
}

.profileInfoDesc {
  font-weight: 300px;
}

.profileBottomFeed {
  display: flex;
  justify-content: flex-end;
  flex: 9;
}

@media (max-width: 768px) {
  .profileBottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  /* .profileBottomInfo {
    align-items: center;
    padding-left: 0;
  } */

  .coverPhotoEditButton {
    left: 90%;
  }
}
