.profileFeed {
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.profileFeedShare {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  margin-bottom: 20px;
}

.profileFeedPosts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 1000px;
  column-count: 1;
  column-gap: 0;
}

.profileFeedHr {
  margin: 30px 20px;
  opacity: 0.5;
}

.profileFeedOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px;
}

.profileFeedOptionsFollowing {
  font-weight: 600;
  color: rgb(129, 129, 129);
}

.profileFeedOptionsAll {
  font-weight: 600;
  color: orange;
}

.post {
  width: 100%;
  max-width: 600px;
}
