.welcomeWrapper {
  background-size: cover;
  background: no-repeat center center fixed;
  height: 100vh;
  overflow: hidden;
}

.welcomeLogin {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
}

.welcomeInput {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 500px;
}

.welcomeTitle {
  color: #fefdfc;
  font-size: 50px;
  font-weight: 800;
  margin: 15px;
  text-align: center;
}

.welcomeDesc {
  color: #fefdfc;
  margin-bottom: 25px;
}

.welcomeButtons {
  align-items: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.welcomeButton {
  align-self: center;
  background-color: #fefdfc;
  border-radius: 10px;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  margin: 0 10px;
  width: 100px;
}
